@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes scroll-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

.animate-scroll-down {
  animation: scroll-down 10s linear infinite;
}

.animate-scroll-up {
  animation: scroll-up 10s linear infinite;
}

  